
<h1>User form</h1>

<form action="/api/users" method="POST">

    <div>
        <label for="name">Name</label>
        <input type="text" name="name" />
    </div>
    <br>
    <div>
        <label for="email">Email</label>
        <input type="email" name="email" />
    </div>
    <br>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" />
    </div>
    <br>

    <button type="submit">Create user</button>

</form>